@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Permanent+Marker&family=Stick+No+Bills:wght@200&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    margin: 0;


}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: end;
    align-items: center;
    background-color: crimson;
    width: 100%;
    height: 70px;
    font-family: 'Stick No Bills', sans-serif;

}

#navbar>a {
    margin-right: 5px;
    padding: 19px;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#navbar > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    font-family: 'Permanent Marker', cursive;

}



#projects {
    background-color: black;
    color: white;

}

#projects>h2 {
    padding-top: 50px;
    font-size: 42px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(450px, auto));
    grid-gap: 20px;
    margin: 50px 20px 0 20px;

}

.alpha {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.alpha:hover {
    transform: scale(0.9);
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 0 4px 3px 0 crimson, 0 6px 20px 0 rgba(146, 91, 91, 0.19);
}

img {
    border-radius: 5px;
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 55% 100%;
}

.alpha img#genie {
    object-position: 11% 100%;
}


#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: yellow;
    padding-bottom: 70px;
    font-family: 'Permanent Marker', cursive;
}

.contact-links>a {
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    padding: 12px;

}

.contact-links > a:hover {
    color: blue;
    transform: scale(1.1) translate(5px, -3px);
    transition: 0.2s ease-out 0.1s;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: crimson;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
}


a {
    text-decoration: none;
}

a>p {
    color: white;
    padding: 20px 10px;
}

p>a {
    color: white;
}

@media (max-width: 650px) {
    .projects-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* .fa-github::before {
    content: "\f09b";
}

.fa-telegram::before {
    content: "\f2c6";
}
.fa-twitter::before {
    content: "\f099";
} */



/* .fa-free-code-camp::before {
    
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f2c5";
} */